################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpansAndPipelines/obj
/SpansAndPipelines/bin/Debug/netcoreapp3.1
/ExploringSpansAndPipelines.Core.Tests/Assets
/ExploringSpansAndPipelines.Core.Tests/bin/Debug/netcoreapp3.0
/ExploringSpansAndPipelines.Core.Tests/obj
/ExploringSpansAndPipelines.Core/bin/Debug/netcoreapp3.0
/ExploringSpansAndPipelines.Core/obj
/.vs
/ExploringSpansAndPipelines.Benchmarks/bin/Debug/netcoreapp3.0
/ExploringSpansAndPipelines.Benchmarks/obj
/ExploringSpansAndPipelines.Benchmarks/bin/Release/netcoreapp3.0
/ExploringSpansAndPipelines.Core/bin/Release/netcoreapp3.0
/ExploringSpansAndPipelines.Core.Tests/bin/Release/netcoreapp3.0
/SpansAndPipelines/bin/Release/netcoreapp3.1
/ccy/.vs
/ccy/obj/Debug/net6.0-windows
/ccy/obj/Debug/net9.0-windows7.0
/ccy/obj
/ccy/bin/Debug/net9.0-windows7.0
